{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_OU%}
  <div>
  <div id="pro_pic">
  	<img src="{% static 'img/' %}{{user.prof_pic_num}}.png"/>
  </div>
  <div>
  <h2 style="font-weight:bold">{{ user.username }}'s Profile Page</h2>
  <p>Interests: {{ interests }}</p>
  <p>
	  <button>
		<a href="{% url 'create' %}" style="text-decoration:none;">Create New Document</a>
	  </button>
  </p>
  </div>
  </div>
  <div class="doc_list">
	  <h3 style="font-weight:bold; text-decoration:underline;">My Documents</h3>
	  {% for doc in myDocs %}
	  	<p>
	  		<a href={% url 'view' doc_id=doc.id %} style="text-decoration:none;">{{ doc.title }}</a>
	  	</p>
	  {% endfor %}
  </div>
  <div class="doc_list">
	  <h3 style="font-weight:bold; text-decoration:underline;">Shared Documents</h3>
	  {% for doc in sharedDocs %}
	  	<p>
	  		<a href={% url 'view' doc_id=doc.id %} style="text-decoration:none;">{{ doc.title }}</a>
	  	</p>
	  {% endfor %}
  </div>
  <div class="doc_list">
	  <h3 style="font-weight:bold; text-decoration:underline;">Public Documents</h3>
	  {% for doc in publicDocs %}
      <p>
        <a href={% url 'view' doc_id=doc.id %} style="text-decoration:none;">{{ doc.title }}</a>
      </p>
    {% endfor %}
  </div>
  <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
  <p>You are a Guest User</p>
  {% if user.is_authenticated %}
    <p style="font-style: italic;">Ordinary User status pending...</p>
  {% else %}
    <p>
      Apply to be an Orinary User:
      <button>
        <a href="{% url 'apply' %}" style="text-decoration:none;">Apply</a>
      </button>
    </p>
  {% endif %}
  <div class="doc_list">
    <p style="font-weight:bold; text-decoration:underline;">Public Documents</p>
    {% for doc in publicDocs %}
      <p>
        <a href={% url 'view' doc_id=doc.id %} style="text-decoration:none;">{{ doc.title }}</a>
      </p>
    {% endfor %}
  </div>
  <div style="display: block;">
    {% if user.is_authenticated %}
      <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
      <button>
        <a href="{% url 'login' %}" style="text-decoration:none;">Login</a>
      </button>
    {% endif %}
  </div>
{% endif %}
{% endblock %}