{% extends 'base.html' %}

{% block title %}View Old Version{% endblock %}

{% block content %}
<div>
  <div>
    <div style="display: block;">
      <h2 style="font-weight:bold;">{{ title }}</h2>
      <p>Version: {{ viewingVersion }}</p>
      <p>Updater: {{ updater }}</p>
      
      <div>
        {% if is_OU %}
          {% if owner_id != user_id %}
            <button style="margin-left: 1em; height: 100%; margin: auto; margin-left: 1em;">
              <a href={% url 'complain' doc_id=doc_id %} style="text-decoration:none;">Complain</a> 
            </button>
          {% endif %}
        {% endif %}
       </div>

    </div>
  </div>
    <ol class="doc_view">
      {% for line in content %}
        {% if hasTaboo %}
          {% if forloop.counter0 in tabooIndices %}
            <li style="padding-left: 0.5em; background-color: red;">
              UNK
            </li>
          {% else %}
            <li style="padding-left: 0.5em;">
              {{ line }}
            </li>
          {% endif %}
        {% else %}
          <li style="padding-left: 0.5em;">
            {{ line }}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  <div style="display: block;">
    <button>
      <a href={% url 'view' doc_id=doc_id %} style="text-decoration:none;">Current Version</a>
    </button>
    <button>
      <a href={% url 'profile' %} style="text-decoration:none;">Profile</a>
    </button>
    <p><a href="{% url 'logout' %}">Logout</a></p>
  </div>
</div>
{% endblock %}