{% extends 'base.html' %}

{% block title %}View Old Version{% endblock %}

{% block content %}
<div>
  <div>
    <div style="display: block;">
      <h2 style="font-weight:bold;">{{ title }}</h2>
      <p>Version: {{ viewingVersion }}</p>
    </div>
  </div>
    <ol class="doc_view">
      {% for c in content %}
        <li style="padding-left: 0.5em;">
          {{ c }}
        </li>
      {% endfor %}
    </ol>
  <div style="display: block;">
    <button>
      <a href={% url 'view' doc_id=doc_id %} style="text-decoration:none;">Current Version</a>
    </button>
    <button>
      <a href={% url 'profile' %} style="text-decoration:none;">Profile</a>
    </button>
    <p><a href="{% url 'logout' %}">Logout</a></p>
  </div>
</div>
{% endblock %}