{% extends 'base.html' %}
{% load static %}

{% block title %}View Doc{% endblock %}

{% block content %}
<div>
  <div style="margin-bottom: 1em;">
    {% if is_collaborator or owner_id == user_id %}
      {% if locked %}
        {% if locked_by == user_id or owner_id == user_id %}
          <a href={% url 'changeLockedStatus' doc_id=doc_id %}><img src="{% static 'img/locked.png' %}" style="padding-right: 0.5em;" /></a>
        {% endif %}
      {% else %}
        {% if is_collaborator or owner_id == user_id %}
          <a href={% url 'changeLockedStatus' doc_id=doc_id %}><img src="{% static 'img/unlocked.png' %}" style="padding-right: 0.5em;"/></a>
        {% endif %}
      {% endif %}
    {% endif %}
    <div style="display: inline-flex;">
      <h2 style="font-weight:bold; margin: auto;">{{ title }} (v{{ version }})</h2>
      
      {% ifequal user_id owner_id %}
        {% if not private %}
          <button style="margin-left: 1em; height: 100%; margin: auto; margin-left: 1em;">
            <a href={% url 'shareDoc' doc_id=doc_id %} style="text-decoration:none;">Share Document</a>
          </button>
        {% endif %}
      {% endifequal %}
    </div>
  </div>



    <div style="font-style: italic; margin-bottom: -1em;">
      {% if owner_id == user_id %}
        {% if private %}
          <p>Classification: Private</p>
        {% endif %}
        {% if not private %}
          <p>Classification: Public</p>
        {% endif %}
      {% endif %}
    </div>
    <div style="display: inline-block; float: none;">
      <p>View Previous Version: 
        <select name="version" onchange="location = this.value">
          <option selected="selected"></option>
          {% for dh in docHistory %}
            <option  value={% url 'viewOldVersion' doc_id=dh.doc_id delimiter='|' oldVersion=dh.version %}>{{ dh.version }}</option>
          {% endfor %}
        </select>
      </p>
      {% if locked %}
        <div style="display: flex; text-align: center; margin-top: -1em;">
          <p style="font-style: italic; font-weight: bold;">{{ editor }}</p><p style="font-style: italic;">&nbsp;is updating the document...</p>
        </div>
      {% endif %}
    </div>
</div>
{% if hasTaboo %}
  <div style="margin-top: -0.5em; margin-bottom: 0.5em;">
    <p style="font-style: italic; font-weight: bold; background-color: red;">YOU MUST FIX ALL TABOO WORDS BEOFRE CONTINUING!</p>
    <button>
      <a href={% url 'fixTaboo' doc_id=doc_id %} style="text-decoration:none;">Fix taboo word in line {{ tabooIndex|add:1 }}</a>
    </button>
  </div>
{% endif %}
{% if user.is_OU and locked and not hasTaboo %}
  {% if locked_by == user_id or owner_id == user_id %}
    <div style="margin-top: -0.5em; margin-bottom: 0.5em;">
      <button>
        <a href={% url 'addLine' doc_id=doc_id %} style="text-decoration:none;">Add Line</a>
      </button>
      <button>
        <a href={% url 'deleteLine' doc_id=doc_id %} style="text-decoration:none;">Delete Line</a>
      </button>
      <button>
        <a href={% url 'updateLine' doc_id=doc_id %} style="text-decoration:none;">Update Line</a>
      </button>
    </div>
  {% endif %}
{% endif %}
<div style="padding-bottom: 0.5em;">
  <form type="get" autocomplete="off">
    <input id="search_box" type="text" name="search_box" placeholder="Search for (partial) keyword in doc" style="width: 17em;" required />
    <button id="search_submit" type="submit">Submit</button>
  </form>
</div>
<ol class="doc_view">
  {% for c in content %}
    {% if c in tabooList %}
    	<li style="padding-left: 0.5em; background-color: red;">
        UNK
      </li>
    {% else %}
      {% if searchQuery in c %}
        <li style="padding-left: 0.5em; background-color: #5AFC3D;">
          {{ c }}
        </li>
      {% else %}
        <li style="padding-left: 0.5em;">
          {{ c }}
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ol>

<div style="display: flex;">
  <div>
    {% if updater_id != 0 %}
      <h3>Last Updated By: {{updater_name}}</h3>
    {% endif %}

    {% if is_OU %}
      {% if owner_id != user_id %}
        <button style="margin-bottom: 1em; font-size: 2em;">
          <a href={% url 'complain' doc_id=doc_id %} style="text-decoration:none;">Complain</a> 
        </button>
      {% endif %}
    {% endif %}
  </div>

  <div>
    <h3>Complaints</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Complainer</th>
        <th>Accused</th>
        <th>Version</th>
      </tr>

      {% for comp in complaints %}
        <tr>
          <td>{{comp.0}}</td>
          <td>{{comp.1}}</td>
          <td>{{comp.2}}</td>
          <td>{{comp.3}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  {% ifequal owner_id user_id %}
    <div style="display: inline-block; float: none;">
        <p>Dismiss Complaint
          <select name=" DismissComplaint" onchange="location = this.value">
              <option selected="Complaint"></option>
              {% for comp in complaints %}
                <option  value={% url 'complaint_dismiss' comp_id=comp.0 %}>{{comp.0}}</option>
              {% endfor %}
          </select>
      </p>

      <p>Remove Accused as Collaborator
          <select name=" DismissComplaint" onchange="location = this.value">
              <option selected="Complaint"></option>
              {% for comp in complaints %}
                <option  value={% url 'complaint_remove_user' comp_id=comp.0 %}>{{comp.0}}</option>
              {% endfor %}
          </select>
      </p>
    </div>
  {% endifequal  %}
</div>



<p></p>
<div style="float: none; display: inline-block;">
<div style="display: flex; text-align: center; margin-top: 0em;">
  
    {% if user.is_OU %}
      <button style="height: 100%; margin: auto 0 auto 0;">
        <a href={% url 'profile' %} style="text-decoration:none;">{{ user.username }}'s Profile</a>
      </button>
    {% else %}
      <button>
        <a href={% url 'profile' %} style="text-decoration:none;">Profile</a>
      </button>
    {% endif %}
    <p style="margin: auto 0 auto 1em;"><a href="{% url 'logout' %}">Logout</a></p>

</div>
</div>
{% endblock %}