{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_OU%}
  <p style="font-weight:bold">{{ user.username }}'s Profile Page</p>
  <p>
	  <button>
		<a href="{% url 'create' %}" style="text-decoration:none;">Create New Document</a>
	  </button>
  </p>
  <div style="border:solid; display:inline-block; padding:1em">
	  <p style="font-weight:bold; text-decoration:underline;">My Documents</p>
	  {% for doc in myDocs %}
	  	<p>
	  		<a href={% url 'view' doc_id=doc.id title=doc.title content=doc.content %} style="text-decoration:none;">{{ doc.title }}</a>
	  	</p>
	  {% endfor %}
  </div>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are a Guest User</p>
  <p>
  	Apply to be an Orinary User:
  	<button>
  		<a href="{% url 'apply' %}" style="text-decoration:none;">Apply</a>
  	</button>
  </p>
{% endif %}
{% endblock %}